<%- include('parts/header') %>
<%- include('parts/navbar') %>

<% var photo = photo ? `/avatar/${user._id}.jpg` : '/avatar/notfound.jpg'%>
<section class="m-4 p-4">
  <div class="contanier">
    <div class="row w-75 m-auto">
      <div class="col-3 ">
        <label class="profile-photo ms-5">
          <input id="profile_photo" type="file" accept="image/*" class="visually-hidden">
          <img src="<%= photo %> " class="rounded-circle" alt="Avatar" width="200">
        </label>
      </div>
      <div class="col-9 p-lg-3">
        <header class="d-flex align-items-center ms-5" >
          <h2>Mr Aadams</h2>
          <a class="btn border ms-4" href="/edit">Edit profile</a>
          <button class="btn ms-4">
            <img src="/image/settings.svg" alt="Settings" width="30px" height="30px">
          </button>
        </header>
        <div class="d-flex align-items-center ms-5 mt-2">
          <p class="m-0">
            3 Posts
          </p>
          <a class="btn ms-2" href="/followers">20 Followers</a>
          <a class="btn" href="/following">15 Followings</a>
        </div>
        <div class="mt-3 ms-5">
          <p class="fs-5 m-0">Michael</p>
          <p class="m-0">Bio...</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <nav class="align-items-center">
      <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <button class="nav-link active d-flex align-items-center" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
          <img src="/image/grid.svg" alt="Grid" width="18px">
          <p class="m-0 ms-1">Posts</p>
        </button>
        <button class="nav-link d-flex align-items-center" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
          <img src="/image/saved.svg" alt="Grid" width="18px">
          <p class="m-0 ms-1">Saved</p>
        </button>
        <button class="nav-link d-flex align-items-center" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
          <img src="/image/saved.svg" alt="Grid" width="18px">
          <p class="m-0 ms-1">Tagged</p>
        </button>
        <button class="nav-link d-flex align-items-center" id="nav-upload-tab" data-bs-toggle="tab" data-bs-target="#nav-upload" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
          <p class="m-0 ms-1">Post Upload</p>
        </button>
      </div>
    </nav>
  </div>
</section>

<section>
  <div class="container">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row mt-3 pt-3 mb-4">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card">
              <a class="d-block" href="/posts/id">
                <img src="https://picsum.photos/360" alt="image">
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card">
              <a class="d-block" href="/posts/id">
                <img src="https://picsum.photos/360" alt="image">
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card">
              <a class="d-block" href="/posts/id">
                <img src="https://picsum.photos/360" alt="image">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

      </div>
      <div class="tab-pane fade" id="nav-upload" role="tabpanel" aria-labelledby="nav-upload-tab">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-12">
            <form action="/upload" method="POST" class="mt-4">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="body"></textarea>
                <label for="floatingTextarea">Comments</label>
              </div>
              <div class="my-3">
                <input class="form-control" type="file" id="formFile">
              </div>
              <button class="btn btn-danger mt-4 w-100">Upload Post</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<script src="/js/profile.js"></script>
<%- include('parts/footer') %>
